{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false,
                "useBuiltIns": "usage"
            }
        ],
        "@babel/preset-typescript"
    ],
    "plugins": []
}